<!DOCTYPE HTML>

<html>

<head>
    <title>About Me</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is the website created by Kunal Dhingra to fetch the weather data from the mapbox.com and the darksky.net !!!</p>
        <img class="portrait" src="./img/love.jpg">
    </div>
    {{>footer}}
</body>
</html>